/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-indigo: #2c3e50;

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --light-background-color: rgb(242, 240, 236);
  --light-background-color-mute: rgb(134, 134, 132);

  --dark-background-color: rgb(15 23 42);
  --dark-background-color-mute: #2f2f2f;

  --tertiary-color: #63e2b7;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--light-background-color);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
  --nav-bar-height: 60px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--dark-background-color);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: var(--light-background-color);
}
html.dark-mode {
  background: var(--dark-background-color);
}

/* Naive UI overrides so that SSG can work */
html.dark-mode .n-p,
html.dark-mode .n-button {
  color: rgba(255, 255, 255, 0.82) !important
}

html.dark-mode .n-button:not(.n-button--disabled):hover,
html.dark-mode .n-button:not(.n-button--disabled):focus {
  color: #7fe7c4 !important
}

html.dark-mode .n-h,
html.dark-mode .n-text,
html.dark-mode .n-divider,
html.dark-mode .n-tabs-tab {
  color: rgba(255, 255, 255, 0.9) !important
}

html.dark-mode .n-divider__line {
  background-color: rgba(255, 255, 255, 0.09) !important
}

html.dark-mode .n-tabs-tab--active, 
html.dark-mode .n-tabs-bar,
html.dark-mode .n-tabs-tab:hover {
  color: #63e2b7 !important
}

html.dark-mode .n-tag__border {
  border-color: rgba(255, 255, 255, 0.24) !important;
}

html.dark-mode .n-tag {
  background: rgba(0, 0, 0, 0.3) !important;
}

html.dark-mode .n-skeleton {
  --n-color-start: rgba(255, 255, 255, 0.12) !important;
  --n-color-end: rgba(255, 255, 255, 0.18) !important;
}
