@import './base.css';

body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem 6rem 2rem;
  font-weight: normal;
}

.card:focus-within,
*:focus-visible {
  outline: solid var(--tertiary-color);
}

@media (min-width: 1050px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
